.container {
      text-align: center;
      margin-top: 23px;
}
table {
      margin: auto;
}
input {
      border: 5px solid black;
      border-radius: 35px;
      font-size: 34px;
      width: auto;
      height: 65px;
}
button {
      border-radius: 21px;
      font-size: 49px;
      background: #d9cce1;
      width: 102px;
      height: 82px;
  }
  .calculator {
    display: inline-block;
    background: #ce9ded;
    border-radius: 53px;
    padding: 38px;
    border: 7px solid #98868b;
    margin: 6px;

}
h1 {
      font-size: 42px;
}
  